*.c
*.h
*.o
*.la
*.lo
*.mo
*.stamp
*.tar.bz2
*.tar.gz
.deps
.pc
Makefile
Makefile.in*
aclocal.m4
autom4te.cache
compile
config*
data/godville.desktop
data/net.godville.indicator.gschema.valid
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
.intltool-merge-cache
POTFILES
src/godville
stamp-*
