godville-*.tar.gz
godville-*.tar.bz2
*.c
*.h
*.o
*.stamp
.deps
Makefile
Makefile.in*
aclocal.m4
autom4te.cache
compile
config*
install-sh
intltool*
libtool
missing
ltmain.sh
depcomp
mkinstalldirs
stamp-*
