Source: godville
Section: x11
Priority: extra
Maintainer: Alexander Semyonov <al@semyonov.us>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.9.1
Homepage: http://github.com/alsemyonov/godville
Vcs-Git: git://git.github.com/alsemyonov/godville.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/godville.git;a=summary

Package: godville
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Godville hero adventures indicator
 Follow your hero on http://godville.net/ adventures in your favourite
 desktop environment
