Source: godville
Section: x11
Priority: extra
Maintainer: Alexander Semyonov <al@semyonov.us>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libglib2.0-dev (>= 2.28.6), libgtk2.0-dev (>= 2.24.4), libsoup2.4-dev (>= 2.34.0), libxml2-dev (>= 2.7.8), libappindicator-dev (>= 0.3.0), libnotify-dev (>= 0.5.0)
Standards-Version: 3.9.1
Homepage: http://github.com/alsemyonov/godville
Vcs-Git: git://git.github.com/alsemyonov/godville.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/godville.git;a=summary

Package: godville
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0 (>= 2.28.6), libgtk2.0-0 (>= 2.24.4), libsoup2.4-1 (>= 2.34.0), libxml2 (>= 2.7.8), libappindicator1 (>= 0.3.0), libnotify1 (>= 0.5.0)
Description: Godville hero adventures indicator
 Follow your hero on http://godville.net/ adventures in your favourite
 desktop environment
